@model List<Position>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<header class="header">
    <div class="header-box">
        <h1 class="text">Discover The World With Us</h1>
    </div>
</header>
<section class="popular" id="position">
    <h1>Position</h1>
    <div class="text1">
        <p>
            Experience Your Travel With Our Private Jet.
            Whether you're traveling for business or pleasure, a private jet charter provides the ultimate travel experience.
        </p>
    </div>
    <div class="flex">
        @foreach(var item in Model)
        {
            <div class="popular1" data-aos="fade-down"
                 data-aos-easing="ease"
                 data-aos-duration="2000">
            <div class="img">
                <img src="/img/@item.PositionImage" alt="">
            </div>
            <div class="content">
                    <h3>@item.PositionCity - <span>@item.PositionTo</span></h3>
                <p>@item.PositionText</p>
                <div class="buy">
                    <a href="/User/Login">Buy ticket</a>
                    <span>$@item.PositionPrice</span>
                </div>
            </div>
        </div>           
        }
    </div>
</section>
<section class="service" id="services">
    <h1>Services</h1>
    <div class="text1">
        <p>
            Book a private jet instantly
            Skylux exceeds the standard for luxury and corporate private jet charter services. We pride ourselves on offering a professional service.
        </p>
    </div>
    <div class="center">
        <div class="service1" data-aos="fade-down"
             data-aos-easing="ease"
             data-aos-duration="2000">
            <img src="/img/Business.jpg" alt="">
            <div class="hover">
                <h2>Business Jet Charter</h2>
                <p>Lorem, ipsum dolor sit amet consectetur magnam, dolore facilis? Distinctio nam, rerum voluptatum corrupti reiciendis facilis</p>
            </div>
        </div>
        <div class="service1" data-aos="fade-down"
             data-aos-easing="ease"
             data-aos-duration="2000">
            <img src="/img/Ambulance.jpg" alt="">
            <div class="hover">
                <h2>Air Ambulance</h2>
                <p>Lorem, ipsum dolor sit amet consectetur magnam, dolore facilis? Distinctio nam, rerum voluptatum corrupti reiciendis facilis</p>
            </div>
        </div>
        <div class="service1" data-aos="fade-down"
             data-aos-easing="ease"
             data-aos-duration="2000">
            <img src="/img/Flights.jpg" alt="">
            <div class="hover">
                <h2>Pet Flights</h2>
                <p>Lorem, ipsum dolor sit amet consectetur magnam, dolore facilis? Distinctio nam, rerum voluptatum corrupti reiciendis facilis</p>
            </div>
        </div>
    </div>
</section>
<section class="news" id="news">
    <h1>News & press</h1>
    <div class="text1">
        <p>You can follow the latest news about SkyLux airport from the nearest news sites, social media platforms and the airports' official websites. Here you can follow the latest SkyLux updates, travel news, terminal updates, new flight news and other related information!</p>
        <a href="/Home/News">Explore <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</section>
<section class="about" id="about">
    <h1>About Us</h1>
    <div class="box">
        <div class="box1" data-aos="fade-right"
             data-aos-easing="ease"
             data-aos-duration="2000">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/airport-terminal.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        @*<img src="https://img.freepik.com/free-photo/young-handsome-man-with-bag-his-shoulder-hurry-airport_146671-17993.jpg" alt="">*@
                        <img src="/img/blog-1-min.jpg" />
                    </div>
                    <div class="swiper-slide">
                        @*<img src="/img/airplane.jpg" alt="">*@
                        <img src="/img/dfd.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="box2" data-aos="fade-left"
             data-aos-easing="ease"
             data-aos-duration="2000">
            <h2>Lorem ipsum Facere, perferendis?</h2>
            <p>Lorem, ipsum dolor Lorem obcaecati beatae enim! Voluptas debitis sequi provident! sit amet consectetur adipisicing elit. Voluptatibus omnis asperiores mollitia quasi earum enim esse deleniti! Voluptatum quibusdam quod nesciunt ratione sit, porro odit dolore. Aut impedit deserunt fugiat?</p>
            <a href="/Home/Index/#contact">Contact <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>

</section>
<section id="contact">
    <div class="lorem">
        <h1>Travel by SilkWay</h1>
        <div class="circle1"></div>

    </div>
    <div class="left-right">
        <div class="left">
            <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="little" data-aos="fade-right"
                 data-aos-easing="ease"
                 data-aos-duration="2000">
                <h1>SAFESTY FIRST</h1>
                <p>It is important to prepare a comprehensive safety plan and learn how to deal with dangerous situations to protect yourself from the dangers around you. In hazardous work, it is important to assess your situation and reduce the danger by taking possible measures.</p>
            </div>
        </div>
        <div class="right">
            <div class="little1" data-aos="fade-left"
                 data-aos-easing="ease"
                 data-aos-duration="2000">
                <h1>MEMBERS ONLY</h1>
                <p>SkyLux aircraft is generally described as an aircraft company that is open to everyone, only used by the company's regular customers. These aircraft generally offer luxury partnership and special partnership services and deal with a wide range of travel options.</p>
            </div>
            <div class="little2" data-aos="fade-left"
                 data-aos-easing="ease"
                 data-aos-duration="2000">
                <h1>EXCLUSIVE ACCESS</h1>
                <p>SkyLux companies generally provide services only for selected groups and bookings. These offices generally offer luxurious interiors, extensive tours and special services, aiming to enhance the travel experience. These companies are reserved for general companies, corporate and private customers.</p>
            </div>
        </div>
    </div>
    <div class="square">
        <img src="/img/logo1.png" alt="">
    </div>
    <div class="contact">
        <div class="contact1">
            <h1>ADD YOUR NAME TO THE WAITING LIST</h1>
            <p>We are currently accepting new members,please fill out the form below or call <span>1 246 333 - 0079</span></p>
        </div>
        <div class="contact2">
            <form asp-action="Contact" asp-controller="Home" method="post">
                <input type="text" placeholder="Full Name" name="ContactName">
                <input type="text" placeholder="Telephone" name="ContactTelephone">
                <input type="text" placeholder="Email Address" name="ContactEmail">
                <button>SUBMIT</button>
            </form>
        </div>
    </div>
</section>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
    //$(".lang").click(function () {
    //    $(".setting").css("display", "block !important")
    //    $(".nav-responsive").css("display","none")
    //})
</script>